:root {
    --main: #2F6690;
    --accent: #3A7CA5;
    --background: #D9DCD6;
    --bold: #16425B;
    --secondary: #81c3d7;
}

@font-face {
    font-family: 'inter';
    src: url("assets/fonts/inter.ttf");
}

* {
    font-family: 'inter', sans-serif;
}

body {
    background: rgb(220, 236, 255);
}

.logo {
    display: flex;
}
.logo p {
    top: 240px;
}

.presentation {
    display: grid;
    justify-items: center;
    align-items: center;
}

.presentation h1 {
    margin-top: 64px;
    align-items: center;
    justify-self: center;

    color: var(--bold);
}

.presentation p {
    color: var(--accent);
}

.door-handles {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;

}

.product-container {
    z-index: -1;

    margin-left: 64px;
    margin-right: 64px;
    border: #16425B;
    border-style: none;

    box-shadow: #000000 2px 2px 20px 2px;
}

.door-handles img {
    width: 220px;
    height: 220px;
}

.handle-card img {
    border-radius: 10px 10px 0px 0px;
}

.handle-card {
    z-index: 1;
    outline: #16425B;
    outline-style: solid;
    outline-width: 2px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 24px;

    /* background: linear-gradient(to top, #9595b8, #ddeeff); */
    background: linear-gradient(to top, var(--secondary), var(--background));
}

.handle-card h2 {
    text-align: center;
    justify-self: center;
    font-weight: 400;
    font-size: 24px;
}

.products h1 {
    margin-top: 32px;
    font-weight: 200;
    margin-left: 1vi;
}
