* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --main: #2F6690;
    --accent: #3A7CA5;
    --background: #D9DCD6;
    --bold: #16425B;
    --secondary: #81c3d7;
    --neoncolor: #afecff;
}


html {
    scroll-behavior: smooth;
}

body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
     background: linear-gradient(290deg, #3a7ca5f6, #2f66905b, #16425bc0, #81c3d75b);
    background-size: 400% 400%;
    animation: linearGradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes linearGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 2%;
    flex-grow: 1;
   
}

.titre_principal {
    text-align: center;
    color: white;
    margin-bottom: 2%;
    font-size: 3em;
    animation: neon 5s infinite;
}

@keyframes neon {
    0%,39%,41%,59%,61%,100% {
        text-shadow: 0 0 5px var(--neoncolor), 0 0 10px var(--neoncolor), 0 0 20px var(--neoncolor), 0 0 40px var(--neoncolor), 0 0 80px var(--neoncolor);
    }
    40%,60% {
        text-shadow: none;
}}

/* ====================
        Paiement
   ==================*/
totalpayment {
    border-top: 2px solid var(--bold);
    border-left: 2px solid var(--bold);
    background: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;
    width: 15%;
    position: fixed;
    top: 26%;
    left: 75%;
    z-index: 0;
    box-shadow: 0px 5px 20px var(--main);
    border-radius: 18px;
}

totalpayment h2 {
    font-weight: bold;
    color: var(--bold)
}

livraison {
    margin-top: 2%;
    font-size: 1em;
}

#livraisonmethod,
#payment {
    padding: 5px;
    width: 90%;
    font-size: 15px;
}


total {
    margin-top: 10%;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--bold);
}

.paybtn {
    margin-top: 10%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.paybtn:hover {
    background-color: #45a049;
}

selectionpayment {
    margin-top: 5%;
}

#paymentimg {
    width: 90%;
    height: auto;
    mix-blend-mode: multiply;
}


/* ================
        Panier
   ================ */
produitpanier {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 67%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid var(--bold);
    padding: 5px;
    gap: 2%;
    box-shadow: 0px 5px 20px var(--main);
    border-radius: 10px;
    background: white;
    margin-top: 50px;
}

#panier-vide-message {
    display: none;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: var(--bold);
    width: 95%;
    border: 2px dashed white;
}

/* ================
        Produit
   ================*/
produit {
    display: flex;
    flex-direction: row;
    border-top: 2px solid var(--bold);
    border-left: 2px solid var(--bold);
    background: var(--background);
    padding: 2%;
    margin: 5px;
    height: fit-content;
    width: 95%;
    border-radius: 10px;
}

produit img {
    width: 150px;
    height: 150px;
}

produit p {
    font-size: 20px;
}

.imgproduit {
    margin-right: 20px;
}

.centrage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.produitprix {
    text-align: center;
    margin-left: auto;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.removebtn {
    margin: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--accent);
}

.removebtnimg {
    width: 30px;
    height: 30px;
    filter: brightness(0%);
}

.decrease,
.increase {
    padding: 2px 5px;
    border: none;
    background-color: var(--main);
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    color: white; /* Ajout pour la lisibilité */
}

.qty {
    margin: 0 10px;
    font-size: 25px;
}

/* ===========================
   Footer
   =========================== */
footer {
    background-color: var(--bold);
    color: var(--background);
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    font-size: 0.9rem;
    box-shadow: 0 -6px 25px rgba(129, 195, 215, 0.3);
}   centre titre principal